<h1>Introduction to Computer Science</h1>
<div class="course-description">A comprehensive introduction to computer science principles.</div>
<div class="module" id="module-1">
  <div class="module-header">Module 1: Fundamentals</div>
  <ul>
    <li class="module-item" id="item-1">
      <span class="item-title">Introduction to Programming</span>
      <span class="item-type">Page</span>
    </li>
    <li class="module-item" id="item-2">
      <span class="item-title">Variables and Data Types</span>
      <span class="item-type">Assignment</span>
      <span data-content-id="assignment-1"></span>
    </li>
  </ul>
</div>
