<title>Welcome to the Course Forum</title>
<div class="topic-body clearfix">
  <p>Welcome to the course forum! This is where you can ask questions and discuss course materials.</p>
</div>
<span itemprop="author" href="/u/instructor">Instructor</span>
<span class="tag">welcome</span>
<span class="tag">introduction</span>
<a class="category">General Discussion</a>
<time>2023-01-01T12:00:00Z</time>
